/*
 * fontface.css
 * List all of the font
 * 
 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../../fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/ArialRoundedBold.ttf'); /* For IE6-8 */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}



@font-face {
    font-family: 'GothamNarrow-Black';
    src: url('../../fonts/GothamNarrow-Black.otf');
}

@font-face {
    font-family: 'GothamNarrow-Bold';
    src: url('../../fonts/GothamNarrow-Bold.otf');
}

@font-face {
    font-family: 'GothamNarrow-Book';
    src: url('../../fonts/GothamNarrow-Book.otf');
}
@font-face {
    font-family: 'GothamNarrow-Medium';
    src: url('../../fonts/GothamNarrow-Medium.otf');
}
@font-face {
    font-family: 'GothamNarrow-Light';
    src: url('../../fonts/GothamNarrow-Light.otf');
}

@font-face {
    font-family: 'GothamNarrow-Light';
    src: url('../../fonts/GothamNarrow-Light.otf');
}

@font-face {
    font-family: 'Beyond-Mountain';
    src: url('../../fonts/beyond_the_mountains.otf');
}

@font-face {
    font-family: 'Beyond-Infinity';
    src: url('../../fonts/Beyond-Infinity.ttf');
}

